
<div class="slideshow hide-for-small-only hide-for-medium-only">

<!-- slick slier of movies -->
  <% @movies.each do |m| %>
      <div> <%= link_to image_tag(m.poster, title: m.title), movie_path(m) %> </div>
  <% end %>

</div>


<script type="text/javascript">
	$('.slideshow').slick({
	 slidesToShow: 6,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 5000,
	});

</script>