
<div class="slideshow" data-slick='{"slidesToShow": 4, "slidesToScroll": 4}'>
  <% @movies.each do |movie| %>
      <div class="text-center">  <%= link_to image_tag(movie.poster, title: movie.title, size: "100x100"), movie_path(movie) %></div>
  <% end %>
</div>

<script type="text/javascript">
	$('.slideshow').slick({
	 slidesToShow: 6,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 5000,
	});
</script>